.table{
    width: 95%;
}
.inputtab{
    border: none;
    outline: none;
    background: none;
}
.setting_add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 60px;
}

.settings_add_pers{
    padding: 5px 6px;
    width: auto;
    height: auto;
    border-radius: 5px;
    color: white;
    background-color: #056df5;
    border: none;
}
.settings_add_pers span{
    font-weight: bold;
}
.btn-modif, .btn-sup{
    border: none;
    background-color: white;
}
.btn-modsup{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
